* {
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.container {
  width: 400px;
  background-color: #fff;
  padding: 28px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-box input {
  width: 82%;
  font-size: 20px;
  text-transform: capitalize;
  color: #000;
  background-color: #e6f5fb;
  padding: 12px 16px;
}

.search-box input::placeholder {
  color: #000;
}

.search-box button {
  width: 46px;
  height: 47px;
  background-color: #00b7ff;
  cursor: pointer;
  font-size: 20px;
  color: #fff;
}

.search-box button:hover {
  color: #fff;
  background-color: #ababab;
}

.weather-body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-block: 20px;
  display: none;
}
.weather-body img {
  width: 60%;
}

.weather-box {
  margin-block: 20px;
  text-align: center;
}

.weather-box .temperature {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

.weather-box .temperature sup {
  font-size: 25px;
  position: absolute;
  font-weight: 700;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-humidity,
.humidity,
.wind {
  display: flex;
  align-items: center;
}

.humidity {
  margin-left: 20px;
}

.wind {
  margin-right: 20px;
}

.weather-details i {
  font-size: 36px;
}

.weather-details .text {
  margin-left: 10px;
  font-size: 16px;
}

.text span {
  font-size: 20px;
  font-weight: 700;
}

.location-not-found {
  margin-top: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.location-not-found h1 {
  font-size: 20px;
  color: #6b6b6b;
  margin-block-end: 15px;
}
.location-not-found img {
  width: 80%;
}
@media (min-width: 1400px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 1399px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 1199px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 767px) {
  .container {
    width: 400px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 95%;
  }
}
